<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Item</title>
</head>
<body>


<form th:object="${item}" method="post">

    <label for="name"> Item Name</label>
    <input id="name" th:field="*{name}" th:placeholder="Nazwa"/> <br><br>
    <span th:errors="*{name}" style="color: red; float: left;" />
    <label for="price"> Price</label>
    <input id="price" th:field="*{price}" th:placeholder="Cena"/><br><br>
    <span th:errors="*{price}" style="color: red; float: left;" />
    <label for="description"> Description</label>
    <input id="description" th:field="*{description}" th:placeholder="Opis"/><br><br>

    <select th:field="*{menu}">
        <label for="menu_id">Menu type:</label>
        <option value="">Item type</option>
        <option th:each="i, itemStat : ${menus}" th:value="${i.id}" th:text="${i.type}"
                id ="menu_id" ></option>
    </select>


    <button type="submit">Add Item</button>

</form>

</body>
</html>
