<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/menu.css}" rel="stylesheet"/>
    <title>User Panel</title>
</head>
<body>

<div class="container">
    <h1>Panel Użytkownika</h1>
    <h2> Zalogowano jako: <span th:text="${name}"></span></h2>

    Proszę wybrać akcję jaką chcesz wykonać


    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked user-mennu">
                <li><a th:href="@{/user/booking}" ><i class="fa fa-list-alt fa-fw"></i>Book table</a></li>
                <li><a th:href="@{/logout}" ><i class="fa fa-cogs fa-fw"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>