<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Panel Administratora</h1>

<h2> Zalogowano jako: <span th:text="${name}"></span></h2>


Proszę wybrać akcję jaką chcesz wykonać


<!-- <a th:href="@{/order/list}">    jak zrobic taki przycisk zeby np przenioslo nas do innego widoku z tego miejsca i co trzeba zmienic w controlerze? czy to bedzie main controller czy jakis inny? -->


</body>
</html>