<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://kit.fontawesome.com/09ab966ae8.js"></script>
    <link th:href="@{/css/fa.css}" rel="stylessheet"/>
    <meta charset="UTF-8">
    <title>Booking Tables</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
   <!-- <script>
        $(function() {
            $('#table_list').change(function(){
                $('#menu_list').show();
                if()
            });
        });
    </script>-->
    <script>
        $( document ).ready(function() {
            $( "select[id=table_list]" ).click(function() {
                // $( "#typesOfMenu" ).toggle( "slow", function() {
                    if($('select[id=table_list]').val() != 0){
                        $('#typesOfMenu').css('visibility', 'visible');
                    }
                    else{
                        $('#typesOfMenu').css('visibility', 'hidden');
                        $("#dishesMenu").css('visibility', 'hidden');
                    }
                // });
            });

            $( "select[id=menu_list]" ).click(function() {
                $( "#dishesList" ).toggle( "fast", function() {
                    var id = $('select[id=menu_list]').val();
                    var divElement = $("#dishesMenu");
                    if(id != 0){
                        getMenuType(divElement,id);
                        divElement.css('visibility', 'visible');
                    }
                    else{
                        divElement.css('visibility', 'hidden');
                    }
                });
            });
        });


        function getMenuType($contentDiv, $menuId) {
            jQuery.ajax({
                type : "GET",
                url : "ajax/bookTable/menuType/"+ $menuId,
                success : function(data) {
                    $contentDiv.html(data);
                }
            });
        }
    </script>
</head>
<body>

<br/><br/>


<table id="seatsTable">
    <thead>
    <tr>
        <th> Name </th>
        <th> Number Of Seats </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tables.empty}">
        <td colspan="2"> No tables Available </td>
    </tr>
    <tr th:each="table : ${tables}">
        <td><span th:text="${table.name}"></span></td>
        <td><span th:text="${table.numberOfSeats}"></span></td>
    </tr>
    </tbody>
</table>
<select id="table_list">
    <option value="0" th:selected="0">Wybierz stolik</option>
    <option th:each="i : ${tables}" th:value="${i.id}" th:text="${i.name}"
            th:selected="${i.id}"></option>
</select>

<br/><br/>

<div id="typesOfMenu" style="visibility: hidden">
<span th:if="${menus.empty}"> No items Available </span>
<select id="menu_list" >
    <option value="0" th:selected="0">Wybierz Menu</option>
    <option th:each="i : ${menus}" th:value="${i.id}" th:text="${i.type}"
            th:selected="${i.id}"></option>
</select>
</div>

<div id="dishesList" style="visibility: hidden">
    <span th:if="${dishes.empty}"> No items Available </span>
<select id="dishes_list" >
    <option value="0" th:selected="0">Wybierz Danie</option>
    <option th:each="i : ${dishes}" th:value="${i.id}" th:text="${i.name}"
            th:selected="${i.id}"></option>
</select>
</div>

<div id="dishesMenu" style="visibility: hidden"></div>

<p>Powrót do strony głównej: <a th:href="@{/account/panelUser}"> Home Page </a></p>

</body>
</html>